*{
    margin: 0;
    padding: 0;
}
/* index.html */
body{
    background-image: url(/imagenes/yco8oy7ki.jpg);
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    height: 600px;
}
.caja-principal{
    border: 3px solid rgb(0, 0, 0);
    width: 640px;
    height: 530px;
    background-color: rgb(156, 156, 156);
    background-image: linear-gradient(to bottom, rgb(139, 139, 139), rgb(153, 150, 150));
    margin: auto;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caja-superior{
    width: 610px;
    height: 290px;
    padding: 0px 15px 10px 15px;
    display: flex;
    justify-content: space-between;
}
.pantalla{ 
    width: 420px;
    height: 235px;
    background-image:linear-gradient(to bottom,rgb(250, 250, 98),rgb(255, 246, 163) ) ;
    margin: 5px 10px 5px 10px;
    border: rgb(97, 96, 96) 10px solid;
    border-radius: 8px;
    padding: 14px;
    font-size: 20px;
}
#titulo{
    font-weight: bold;
    font-size: 23px;
}
#caja-password{
    width: 250px;
    padding: 5px 5px 5px 5px;
    margin-top: 8px;
    border: rgb(255, 196, 0) 2.5px solid;
    border-radius: 2px;
    font-size: 20px;
}
#article1{
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}
#article2{
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}
.botones-top{
    width: 55px;
    height: 31px;
    margin-top: 13px;
    margin-bottom: 13px;
    border-radius: 7px ;
    border: rgb(0, 0, 0) 1.5px solid;
    background-image: linear-gradient(to top, black, rgb(97, 97, 97));
}
.caja-inferior{
    width: 610px;
    height: 220px;
    padding: 0px 15px 10px 15px;
    display: flex;
}
.numeros{
    width: 190px;
    height: 350;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.opciones{
    width: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.botones-numero{
    width: 48px;
    height: 40px;
    margin: 5px 5px 5px 5px;
    border-radius: 7px;
    border: black 2px solid;
    background-image: linear-gradient(to top, rgb(161, 161, 161), white);
    font-size: 20px;
    font-weight: bold;
}
.boton-op{
    width: 96px;
    height: 40px;
    border-radius: 7px;
    border: black 2px solid;
    margin: 5px 5px 5px 5px;
    font-size: 17px;
    font-weight: bold;
}
.opciones #cancel{
    background-color: red;
    color: rgb(220, 221, 211);
}
.opciones #clean{
    background-color:rgb(255, 166, 0);
    color: rgb(220, 221, 211);
}
.opciones #ok{
    background-color: rgb(112, 187, 0);
    color: rgb(220, 221, 211);
}
.opciones #void{
    border: none;
    background-color: rgb(109, 109, 109);
}
.relleno{
    height: 200px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.relleno .cajitas{
    width: 96px;
    height: 50px;
    padding: 0px 5px 5px 5px;
    color: white;
    font-weight: bold;
}
.relleno .cajitas p{
    padding: 5px;
}
.relleno #card{
    width: 130px;
    height: 65px;
}
.relleno #receipt{
    width: 160px;
    height: 65px;
}
.relleno #cash{
    width: 300px;
    height: 65px;
}
.relleno #deposit{
    width: 300px;
    height: 65px;  
}
/*=============menu.html=============*/
.pantalla-menu{ 
    width: 420px;
    height: 235px;
    background-image:linear-gradient(to bottom,rgb(250, 250, 98),rgb(255, 246, 163) ) ;
    margin: 5px 10px 5px 10px;
    border: rgb(97, 96, 96) 10px solid;
    border-radius: 8px;
    padding: 14px 0px 14px 0px;
    font-size: 20px;
}
#titulo-menu{
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}
.opciones-padre{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 15px 0px;
}
.opciones-der{ 
    text-align: right;
    width: 180px;
}
.opciones-izq p{
    margin-top: 22px;
    font-size: 22px;
    font-weight: bold;
}
.opciones-der p{
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: bold;
}
.figura-izq{
    height: 190px;
    padding-top: 5px;
}
.figura-der{
    height: 190px;
    padding-top: 8px;
}
/*=============retiro.html=============*/
.opciones-der-retiro{ 
    text-align: right;
    width: 180px;
}
.opciones-der-retiro p{
    margin-top: 21px;
    margin-bottom: 35px;
    font-size: 22px;
    font-weight: bold;
}
/*=============retirosoles.html=============*/
.opciones-padre3{
    display: flex;
    margin-top: 4px;
    justify-content: space-between;
}
#DER{
    width: 150x;
    display: flex;
    height: 215px;
}
#IZQ{
    width: 120px;
    display: flex;
}
.opciones-izq3{
    display: flex;
    text-align: left;
    width: 100px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.opciones-der3{
    display: flex;
    align-content: right;
    width: 100px;
    flex-wrap: wrap;
    margin-top: 16px;
    text-align: right;
    clear: both;
    width: 120px;
}
.opciones-izq3 p{
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin-left: 15px ;
}
.opciones-der3 p{
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
}
.botones-top-3{
    width: 55px;
    height: 31px;
    margin-top: 10px;
    margin-bottom: 9px;
    border-radius: 7px ;
    border: rgb(0, 0, 0) 1.5px solid;
    background-image: linear-gradient(to top, black, rgb(97, 97, 97));
}
/*-------otrascantidades.html---------*/
.pantalla-otrascantidades{ 
    width: 420px;
    height: 235px;
    background-image:linear-gradient(to bottom,rgb(250, 250, 98),rgb(255, 246, 163) ) ;
    margin: 5px 10px 5px 10px;
    border: rgb(97, 96, 96) 10px solid;
    border-radius: 8px;
    padding: 14px 0px 14px 0px;
    font-size: 18px;  
    font-weight: bold;  
    text-align: right;
}
.superior{
    text-align: center;
}
.opciones-padre-4{
    width: 420px;
    height: 150px;
    display: flex;
    justify-content: flex-end;
}
.opciones-der-4 p{
    margin: 13px 15px 16px 0px;
}
.figura-der-4{
    margin-bottom: 5px;
}
#article2-otrascantidades{
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 50px;
}
.botones-top-otrascantidades{
    width: 55px;
    height: 31px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px ;
    border: rgb(0, 0, 0) 1.5px solid;
    background-image: linear-gradient(to top, black, rgb(97, 97, 97));
    
}
/*-----------transaccion.html------------*/
.opciones-padre-transaccion{
    width: 420px;
    height: 150px;
    display: flex;
    justify-content: flex-end;
}
.opciones-der-transaccion{
    margin: 15px 15px 23px 0px;
}
.pantalla-trasaccion{
    width: 420px;
    height: 235px;
    background-image:linear-gradient(to bottom,rgb(250, 250, 98),rgb(255, 246, 163) ) ;
    margin: 5px 10px 5px 10px;
    border: rgb(97, 96, 96) 10px solid;
    border-radius: 8px;
    padding: 14px 0px 14px 0px;
    font-size: 20px;    
    text-align: right;
}
.titulo-transaccion{
    font-size: 22px;
    font-weight: bold;
}
.opciones-padre-transaccion{
    width: 420px;
    height: 190px;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}
.opciones-der-transaccion p{
    margin: 22px 10px 10px 10px;
    font-size: 22px;
    font-weight: bold;
}
.opciones-der-transaccion{
    margin-top: 60px;
}
.figura-der-transaccion{
    margin-top: 71px;
}
/*----final.html------*/
.pantalla-final{
    width: 420px;
    height: 235px;
    background-image:linear-gradient(to bottom,rgb(250, 250, 98),rgb(255, 246, 163) ) ;
    margin: 5px 10px 5px 10px;
    border: rgb(97, 96, 96) 10px solid;
    border-radius: 8px;
    padding: 14px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#titulo-final{
    font-weight: bold;
}
